@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #EEEEEE;
  --color-primary-dark: #EEEEEE;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
